name: Build Main

on:
  push:
    branches: [main]
    paths-ignore:
      - '**/*.md'
      - '**/Justfile'
      - '**/LICENSE'
      - '**/.editorconfig'
      - '**/.gitattributes'
      - '**/.gitignore'
      - '**/assets/**'
      - '**/docs/**'
      - '**/README.md'

permissions:
  contents: read

jobs:
  lint:
    uses: ./.github/workflows/_lint.yml
    with:
      python-version: "3.13"

  test:
    uses: ./.github/workflows/_test.yml
    with:
      coverage_package: "langchain_a2a_adapters"
      python-versions: '["3.10","3.11","3.12","3.13"]'
      coverage_python: "3.13"

  build:
    uses: ./.github/workflows/_build.yml
    with:
      python-version: "3.13"

  coverage:
    uses: ./.github/workflows/_coverage.yml
    needs: [lint, test, build]
    secrets:
      DEEPSOURCE_DSN: ${{ secrets.DEEPSOURCE_DSN }}
